.methods {
  border-radius: 5px 0px 0px 5px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
