.methods {
  border-radius: 5px 0px 0px 5px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px;
  font-size: 18px;
  border: 1px solid transparent;
}

.option {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.option:hover {
  background-color: var(--bg-color);
}
