.description {
  display: flex;
  flex-flow: column;

  .title {
    margin-bottom: 10px;
  }

  .subtitle {
    margin: 15px 0;
  }

  .text {
    line-height: 150%;
    text-wrap: balance;
    color: var(--text-color);
    margin-bottom: 20px;
  }

  .list {
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }
}
