:root {
  --body-bg-color: #181922;
  --bg-color: #272937;
  --accent-color: #d6305f;
  --text-color: #ffffff;
  --error-color: #ff5555;

  --status-info-color: #68aad6;
  --status-success-color: #73c573;
  --status-redirect-color: #d6a368;
  --status-clientError-color: #d6d468;
  --status-serverError-color: #d6305f;

  --editor-string-color: #73c573;
  --editor-number-color: #68aad6;
  --editor-boolean-color: #d6a368;
  --editor-null-color: #d6d468;

  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

button {
  all: unset;
}
