.button {
  background-color: var(--accent-color);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    filter: brightness(1.1);
  }
}

.link {
  text-decoration: none;
  color: var(--accent-color);
}
