.button {
  background-color: var(--accent-color);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    cursor: default;
    background-color: var(--disabled-assent-color);

    &:hover {
      filter: none;
    }
  }
}

.link {
  text-decoration: none;
  color: var(--accent-color);
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: ease-in-out 0.2s;
  }

  &::after {
    left: 50%;
  }

  &::before {
    right: 50%;
  }

  &:hover::after,
  &:hover::before {
    width: 50%;
  }
}

.input {
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);

  &:focus {
    outline: 1px solid var(--accent-color);
  }

  &:hover {
    outline: 1px solid var(--accent-color);
  }
}
