.endpoint {
  display: flex;
  gap: 10px;
  width: 100%;

  .container {
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    width: 100%;

    .input {
      flex-grow: 1;
      font-size: 18px;
      border-radius: 0px 5px 5px 0px;
    }
  }
}
