.send_container {
  display: flex;
  gap: 10px;
}

.methods_container {
  display: flex;
  box-shadow: 0 0 10px 3px var(--accent-color);
  border-radius: 5px;
}

.url_input {
  display: block;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--bg-color);
  color: var(--text-color);

  &:focus {
    outline: 1px solid var(--accent-color);
  }

  &:hover {
    outline: 1px solid var(--accent-color);
  }
}

.send_button {
  border-radius: 5px;
  background-color: var(--accent-color);
  color: white;
  font-size: 18px;
  padding: 10px;
}

.send_button:disabled {
  background-color: var(--disabled-assent-color);
}
