.historyLink {
  display: flex;
  text-decoration: none;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

.method {
  color: var(--accent-color);
  font-weight: bold;
  width: 90px;
}

.url {
  color: white;
}
