.section {
  display: flex;
  align-items: stretch;
  justify-content: center;

  .container {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px 3px var(--accent-color);

    .title {
      margin-bottom: 10px;
      font-size: 30px;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
    }

    .button {
      margin-top: 10px;
    }

    .hint {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
