.response {
  flex-basis: 50%;
  max-width: 50%;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  .code {
    cursor: text;
    flex-grow: 1;
    overflow: auto;
  }
}
