.page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.client {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
}
